<%- include('partials/header') %>

<div class="container">
	<div class="jumbotron">
		<h1>
			Welcome to YelpCamp
		</h1>

		<a class="btn btn-large btn-primary" href="/campgrounds">Check out the campgrounds!</a>
	</div>
</div>



<%- include('partials/footer') %>